
nav.submenu{
 	display: none;
 	background: #B6090C;
 	width: 1140px;
 	z-index: 5;
 	position: absolute;
 	height: auto;
 	max-height:200px; 
 	padding: 10px;
 }
 nav span.sublista{
 	display: inline-block;
 	width: 20%; float: left;
 }
 nav span.sublista a:hover{color: #000;}
 