# Activar RewriteEngine
DirectoryIndex index.php
RewriteOptions inherit
<ifmodule mod_rewrite.c>
Options +FollowSymlinks
RewriteBase /md
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  producto/NOMBRE/
#   Salida: producto.php?id=NOMBRE

RewriteRule ^producto/(\w+)/?$ producto.php?id=$1 [L]
RewriteRule producto/(.*) producto.php?page=producto&id=$1 [L]

RewriteRule ^descuentos/(\w+)/?$ descuentos.php?id=$1 [L]
RewriteRule descuentos/(.*) descuentos.php?page=descuentos&id=$1 [L]

RewriteRule ^resultados/(\w+)/?$ resultados.php?id=$1 [L]
RewriteRule resultados/(.*) resultados.php?page=resultados&id=$1 [L]

RewriteRule ^deseos/(\w+)/?$ deseos.php?id=$1 [L]
RewriteRule deseos(.*) deseos.php?page=deseos&id=$1 [L]
</ifmodule>